<!doctype html>
<html ng-app="nomeAplicacao">
  <head>
    <script src="bower_components/angular/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="NameCtrl">
      <label>Nome:</label>
      <input type="text" ng-model="item.nome" placeholder="Nome"> <br/>
      
      <label>Idade:</label>
      <input type="text" ng-model="item.idade" placeholder="Idade"> <br/>

      <br>
      <button ng-click="addItem(item)">Adicionar item</button> <br/>
      <br/>
      
      <hr />

      <ul>
      	<li ng-repeat="item in itens">
          {{item.nome}} e idade: {{item.idade}}
        </li>
      </ul>
    </div>


    <script type="text/javascript">
    	angular.module('nomeAplicacao', [])
    		.controller('NameCtrl', ['$scope', function ($scope) {

    			$scope.itens = [
    								{
    									nome: "Rogerio Alencar", idade: 29
    								},
    								{
    									nome: "Yolanda Sampaio", idade: 27
    								},
    								{
    									nome: "Crista da Luz Sampaio", idade: null
    								}
    							];

    			$scope.addItem = function(item) {
    				$scope.itens.push(item);
    				$scope.item = {};
    			};

    		}]);
    </script>
  </body>
</html>



